<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <title>Create page</title>
</head>
<body>
    <aside class="navigation">
        <ul class="navigation-controls">
            <li class="control home-control"><i class="ri-home-line"></i></li>
            <li class="control"><i class="ri-send-plane-fill"></i></li>
            <li class="control"><i class="ri-notification-line"></i></li>
            <li class="control"><i class="ri-user-line"></i></li>
            <li class="control" onClick="openMenu()"><i class="fa-solid fa-plus"></i></li>
        </ul>
    </aside>
    <main class="main">
        <div class="create-container" id="create-container">
            <div class="inner-create-container">

                <button class ="btn-close" onClick="closeMenu()"><i class="fa-solid fa-xmark"></i></button>
                <form >
                    <textarea id="post-text" cols="40" placeholder="What's happening?"></textarea>
                    <button class="btn-post">Post</button>
                </form>
                <div class="action">
                    <i class="fa-solid fa-image"></i>
                    <i class="ri-emoji-sticker-line"></i>
                </div>
            </div>
        </div>
    </main>
      <script>
    function openMenu() {

      document.getElementById('create-container').style.display = 'flex';
    }

    function closeMenu() {
      document.getElementById('create-container').style.display = 'none';
    }
  </script>
  <script>
  const textarea = document.getElementById('post-text');
  textarea.addEventListener('input', () => {
    textarea.style.height = 'auto';
    textarea.style.height = textarea.scrollHeight + 'px';
  });
</script>
</body>
</html>