<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <title>Create page</title>
</head>
<body>
    <aside class="navigation">
        <ul class="navigation-controls">
            <li class="control home-control"><i class="ri-home-line"></i></li>
            <li class="control"><i class="ri-send-plane-fill"></i></li>
            <li class="control"><i class="ri-notification-line"></i></li>
            <li class="control"><i class="ri-user-line"></i></li>
        </ul>
    </aside>
    <main class="main">
        <div class="create-container">
            <form class="create-form">
                <input type="text">
                <input type="text">
            </form>
        </div>
    </main>
</body>
</html>