<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

    <title>Homapage</title>
</head>
<body>
    <aside class="navigation">
        <ul class="navigation-controls">
            <li class="control home-control"><i class="ri-home-line"></i></li>
            <li class="control"><i class="ri-send-plane-fill"></i></li>
            <li class="control"><i class="ri-notification-line"></i></li>
            <li class="control"><i class="ri-user-line"></i></li>
        </ul>
    </aside>
    <main class="main">
        <div class="search-conatiner">
            <input type="text" placeholder="Search" class="searchbar">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
        </div>
        <div class="posts-container">
            <div class="post">
                <div class="user">
                    <div class="user-image">
                        <img class="profile-pic" src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="user">
                    </div>
                    <div class="user-data">
                        <p>Username</p>
                        <p>2h</p>
                    </div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, rerum?</p>
                    <img src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="text">
                    <div class="interations-container">
                        <ul class="interactions-list">
                            <li><div class="interaction"><i class="ri-heart-3-line"></i><p>5</p></div></li>
                            <li><div class="interaction"><i class="ri-chat-3-line"></i><p>55</p></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="user">
                    <div class="user-image">
                        <img class="profile-pic" src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="user">
                    </div>
                    <div class="user-data">
                        <p>Username</p>
                        <p>2h</p>
                    </div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, rerum?</p>
                    <img src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="text">
                    <div class="interations-container">
                        <ul class="interactions-list">
                            <li><div class="interaction"><i class="ri-heart-3-line"></i><p>5</p></div></li>
                            <li><div class="interaction"><i class="ri-chat-3-line"></i><p>55</p></div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="user">
                    <div class="user-image">
                        <img class="profile-pic" src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="user">
                    </div>
                    <div class="user-data">
                        <p>Username</p>
                        <p>2h</p>
                    </div>
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, rerum?</p>
                    <img src="https://i.pinimg.com/564x/15/12/3e/15123e5705f017bc3b74ede3680c608d.jpg" alt="text">
                    <div class="interations-container">
                        <ul class="interactions-list">
                            <li><div class="interaction"><i class="ri-heart-3-line"></i><p>5</p></div></li>
                            <li><div class="interaction"><i class="ri-chat-3-line"></i><p>55</p></div></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>