<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Home page</title>
</head>
<body>
    <header class="header">
        <nav class="container-navigation">
            <ul class="navigation">
                <li class="icon"><i class="fa-solid fa-user"></i></li>
                <li class="icon"><i class="fa-solid fa-comment"></i></li>
                <li class="text">register</li>
                <li class="text">login</li>
                <li class="text">logout</li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="posts-container">
            <div class="post">
                <img src="https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=34d32522f47e4a67286f9894fc81c863" alt="">
                <div class="interactions">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-comments"></i>
                </div>
                <p class="title">Title</p>
                <p>Description</p>
            </div>
            <div class="post">
                <img src="https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=34d32522f47e4a67286f9894fc81c863" alt="">
                <div class="interactions">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-comments"></i>
                </div>
                <p class="title">Title</p>
                <p>Description</p>
            </div>
            <div class="post">
                <img src="https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=34d32522f47e4a67286f9894fc81c863" alt="">
                <div class="interactions">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-comments"></i>
                </div>
                <p class="title">Title</p>
                <p>Description</p>
            </div>
            <div class="post">
                <img src="https://i.guim.co.uk/img/media/327aa3f0c3b8e40ab03b4ae80319064e401c6fbc/377_133_3542_2834/master/3542.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=34d32522f47e4a67286f9894fc81c863" alt="">
                <div class="interactions">
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-comments"></i>
                </div>
                <p class="title">Title</p>
                <p>Description</p>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>