* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    letter-spacing: 0.05em;
    font-family: 'Inter', sans-serif
}

aside {
    height: 100vh;
}

.navigation {
    padding: 3em 1em;
    border-right: 1px solid rgba(37, 37, 39, 255);
    position: fixed;
    .navigation-controls {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .control {
        display: block;
        font-size: 2.5em;
        color: rgba(75, 77, 77, 255);
    }

    .home-control {
        color: rgba(0, 120, 255, 255)
    }
}

.main {
    width: 100vw;

    .search-conatiner {
        display: flex;
        gap: 1em;
        width: 65%;
        margin: 2em auto;
        
        .searchbar {
            width: 55vw;
            height: 7vh;
            border-radius: 10px;
            background-color: rgba(24, 25, 24, 255);
            border: 1px solid rgba(36, 36, 36, 255);
            padding: 1em;
        }

        .search-button {

            height: 7vh;
            width: 6.2vw;
            border-radius: 10px;
            background-color: rgba(0, 118, 255, 255);
            color: white;
            border: 1px solid rgba(36, 36, 36, 255);
            .search-icon{
                font-size: 2em;
            }
        }
    }

    .posts-container {
        width: 65%;
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        gap: 2em;

        .post {
            background-color: rgba(12, 12, 12, 255);
            padding: 2em;
            border-radius: 10px;
            border: 1px solid rgba(35, 36, 36, 255);

            .user {
                padding-bottom: 1em;
                display: flex;
                flex-direction: row;
                gap: 0.5em;

                .user-image {
                    .profile-pic {
                        height: 45px;
                        width: 45px;
                        border-radius: 60px;
                    }
                }

                .user-data {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 1em;

                img {
                    height: 300px;
                    border-radius: 10px;
                }

                .interations-container {
                    .interactions-list {
                        padding-top: 1em;
                        display: flex;
                        flex-direction: row;
                        gap: 5em;
                        font-size: 2em;
                        color: rgba(150, 153, 155, 255);

                        li {
                            display: flex;
                            /* or block */
                            width: 100px;
                            /* or whatever size */
                        }

                        .interaction {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media(max-width:600px) {
    body {
        flex-direction: column-reverse;
    }

    .navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /* заема цялата ширина */
        min-height: 60px;
        max-height: 75px;
        /* или колкото е висока */
        padding-top: 0.8em;
        padding-bottom: 0.8em;
        background-color: black;

        .navigation-controls {
            justify-content: center;
            flex-direction: row;

        }
    }

    .main {
        .search-conatiner {
            width: 90%;
            height: 80%;

            .searchbar {
                width: 80%;
            }

            .search-button {
                width: 18%;
            }
        }

        .posts-container {
            width: 90%;
        }
    }
}