* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    letter-spacing: 0.05em;
    font-family: 'Inter', sans-serif
}

aside {
    height: 100vh;
}

.navigation {
    padding: 3em 1em;
    border-right: 1px solid rgba(37, 37, 39, 255);

    .navigation-controls {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .control {
        display: block;
        font-size: 2.5em;
        color: rgba(75, 77, 77, 255);
    }

    .home-control {
        color: rgba(0, 120, 255, 255)
    }
}

.main {
    width: 100vw;

    .posts-container {
        width: 65%;
        margin: 2em auto;


        .post {
            background-color: rgba(12, 12, 12, 255);
            padding: 2em;
            border-radius: 10px;
            border: 1px solid rgba(35, 36, 36, 255);

            .user {
                padding-bottom: 1em;
                display: flex;
                flex-direction: row;
                gap: 0.5em;

                .user-image {
                    .profile-pic {
                        height: 45px;
                        width: 45px;
                        border-radius: 60px;
                    }
                }

                .user-data {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 1em;

                img {
                    height: 250px;
                    border-radius: 10px;
                }

                .interations-container {
                    .interactions-list {
                        display: flex;
                        flex-direction: row;
                        gap: 5em;
                        font-size: 2em;
                        color: rgba(150, 153, 155, 255);

                        li {
                            display: flex;
                            /* or block */
                            width: 100px;
                            /* or whatever size */
                        }

                        .interaction {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            p{
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }
        }

    }
}